@import url(common.css);

.wrap {
    width: 100%;
    position: relative;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px 100px;
    z-index: 50;
    transition: .5s;
}

header.up {
    top: -139px;
}

header h1 {}

header nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 40;
    transition: .5s;
}

header nav.on {
    opacity: 1;
}

header nav > div {
    width: 1000px;
    height: 100vh;
    float: right;
    border-top: 1090px solid #fff;
    border-left: 180px solid transparent;
    margin-right: -1500px;
    transition: .5s;
}

header nav > div.on {
    margin-right: 0px;
}

header nav > div .menu_nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 650px;
    height: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header nav > div .menu_nav a {
    display: inline-block;
    font-family: 'DM Serif Display', serif;
    padding: 10px;
    font-size: 3em;
    text-transform: uppercase;
    transition: .7s;
}

header nav div .menu_nav a.on,
header nav div .menu_nav a:hover {
    color: #0f4c82;
}

header nav > div .menu_nav a:after {
    content: '';
    position: relative;
    display: block;
    width: 106%;
    height: 18px;
    background: #dfe8f1;
    margin-left: -3%;
    margin-top: -30px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    z-index: -1;
}

header nav > div .menu_nav a:hover:after {
    visibility: visible;
    opacity: 1;
}

header nav div .sub_menu {
    width: 120px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: #0f4c82;
    z-index: 10;
}


header nav div .sub_menu div {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

header nav div .sub_menu span {
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ccc;
}

header nav div .sub_menu span:nth-of-type(1) {
    transform: rotate(45deg)
}

header nav div .sub_menu span:nth-of-type(2) {
    transform: rotate(-45deg)
}

header nav div .sub_menu a {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

header nav div .sub_menu a:nth-of-type(1) {
    bottom: 160px;
    background: url(../img/icon_sns_v.png) no-repeat center top 5px;
}

header nav div .sub_menu a:nth-of-type(2) {
    bottom: 90px;
    background: url(../img/icon_sns_v.png) no-repeat center center
}

header nav div .sub_menu a:nth-of-type(3) {
    bottom: 20px;
    background: url(../img/icon_sns_v.png) no-repeat center bottom 7px;
}

header .burger_menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 120px;
    height: 100vh;
    z-index: 10;
    transition: .5s;
}

header .burger_menu.up {
    top: -139px;
}

header .burger_menu div {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5%;
    left: 0;
    cursor: pointer;
}

header .burger_menu span {
    width: 100%;
    height: 2px;
    background: #666;
    position: absolute;
    left: 0;
    top: 0;
}

header .burger_menu span:nth-of-type(1) {
    top: 5px;
}

header .burger_menu span:nth-of-type(2) {
    top: 15px;
    width: 80%;
}

header .burger_menu span:nth-of-type(3) {
    top: 25px;
}

.content_tit {
    width: 100%;
    height: 500px;
    padding: 210px 0 0 210px;
    background: #f5f5f5 url(../img/brand_back.png) no-repeat center right 7%;
    background-size: contain;
    margin-bottom: 120px;
}

.content_tit h2 {
    font-size: 5.556em;
    font-family: 'DM Serif Display', serif;
    color: #0f4c82;
    padding-bottom: 50px;
}

.content_tit nav {}

.content_tit nav a {
    font-size: 1.3em;
}

.content_tit nav a.on,
.content_tit nav a:hover {
    font-weight: bold;
    color: #0f4c82;
}

.content_tit nav a:after {
    content: '';
    width: 2px;
    height: 1em;
    position: relative;
    top: 4px;
    display: inline-block;
    background: #999;
    margin: 0 30px;
    cursor: default;
}

.content_tit nav a:nth-of-type(3):after {
    display: none;
}

.content_box {font-size: 0;}

.content_box .con_text {
    padding: 0 210px;
    margin-bottom: 120px;
}

.content_box .con_text p {
    line-height: 2em;
}

.content_box .con_text p:nth-of-type(1) {
    font-size: 1.3em;
    padding-bottom: 70px;
}

.content_box .con_text p:nth-of-type(2) {}

.content_box .con_text p strong {
    font-size: 1.35em;
    color: #0f4c82;
}

.content_box .con_text p em {
    font-style: normal;
    color: #0f4c82;
    font-weight: bold;
}

.content_box .img_box {
    padding: 80px 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f5f5f5;
    margin-bottom: 120px;
}

.content_box .img_box span {
    font-size: 0;
}

.content_box .img_box span img {}

.content_box ul {
    padding: 0 210px;
}

.content_box ul li {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_box ul li span {
    font-family: 'DM Serif Display', serif;
    color: #dfe8f0;
    font-size: 16.667em;
    font-style: italic;
}

.content_box ul li:nth-of-type(odd) span {
    order: 2;
}

.content_box ul li:nth-of-type(even) span {
    order: 1;
}


.content_box ul li div {}

.content_box ul li:nth-of-type(odd) div {
    order: 1;
}

.content_box ul li:nth-of-type(even) div {
    order: 2;
    text-align: right;
}

.content_box ul li div strong {
    font-size: 2em;
    color: #0f4c82;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 50px;
    position: relative;
}

.content_box ul li div strong:after {
    content: '';
    display: block;
    height: 0.7em;
    width: 103%;
    background: #dfe8f0;
    position: absolute;
    bottom: 0;
    left: -7px;
    z-index: -1;
}

.content_box ul li div strong small {
    font-size: 0.7em;
    color: #333;
}

.content_box ul li div p {
    line-height: 2em;
}

.content_box ul li div p em {
    font-style: normal;
    color: #0f4c82;
    font-weight: bold;
}

.content_box > span {width: 100%; font-size: 0;}
.content_box > span img {width: 100%;}

aside {
    position: fixed;
    background: #0f4c82;
    bottom: 0;
    right: 0;
    width: 90px;
    height: 90px;
    cursor: pointer;
    z-index: 50;
}

aside div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside div span {
    font-size: 1.2em;
    color: #fff;
    font-family: 'DM Serif Display', serif;
}

footer {
    width: 70%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h2 {}

footer h2 img {}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul li {
    padding: 0 70px;
    border-right: 1px solid #ccc;
    color: #999;
    font-size: 0.667em;
}

footer ul li:nth-of-type(3) {
    border-right: 0px;
}

footer ul li small {
    display: block;
    color: #999;
    font-size: inherit;
    text-transform: uppercase;
    padding-bottom: 5px;
}

footer ul li:nth-of-type(2) small {
    padding: 10px;
}

footer ul li em {
    color: #999;
    font-size: 1.667em;
    font-style: normal;
}

footer ul li div {}

footer ul li a {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

footer ul li a:nth-of-type(1) {
    background: url(../img/icon_sns_h.png) no-repeat left 5px center;
}

footer ul li a:nth-of-type(2) {
    background: url(../img/icon_sns_h.png) no-repeat center center;
}

footer ul li a:nth-of-type(3) {
    background: url(../img/icon_sns_h.png) no-repeat right 5px center;
}
