@import url(common.css);

.wrap {
    width: 100%;
    position: relative;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px 100px;
    z-index: 50;
    transition: .5s;
}

header.up {
    top: -139px;
}

header h1 {}

header nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 40;
    transition: .5s;
}

header nav.on {
    opacity: 1;
}

header nav > div {
    width: 1000px;
    height: 100vh;
    max-height: 1100px;
    float: right;
    border-top: 1090px solid #fff;
    border-left: 180px solid transparent;
    margin-right: -1500px;
    transition: .5s;
}

header nav > div.on {
    margin-right: 0px;
}

header nav > div .menu_nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 650px;
    height: 100%;
    max-height: 1100px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header nav > div .menu_nav a {
    display: inline-block;
    font-family: 'DM Serif Display', serif;
    padding: 10px;
    font-size: 3em;
    text-transform: uppercase;
    transition: .7s;
}

header nav div .menu_nav a.on,
header nav div .menu_nav a:hover {
    color: #0f4c82;
}

header nav > div .menu_nav a:after {
    content: '';
    position: relative;
    display: block;
    width: 106%;
    height: 18px;
    background: #dfe8f1;
    margin-left: -3%;
    margin-top: -30px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    z-index: -1;
}

header nav > div .menu_nav a:hover:after {
    visibility: visible;
    opacity: 1;
}

header nav div .sub_menu {
    width: 120px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: #0f4c82;
    z-index: 10;
}

header nav div .sub_menu div {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

header nav div .sub_menu span {
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ccc;
}

header nav div .sub_menu span:nth-of-type(1) {
    transform: rotate(45deg)
}

header nav div .sub_menu span:nth-of-type(2) {
    transform: rotate(-45deg)
}

header nav div .sub_menu a {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

header nav div .sub_menu a:nth-of-type(1) {
    bottom: 160px;
    background: url(../img/icon_sns_v.png) no-repeat center top 5px;
}

header nav div .sub_menu a:nth-of-type(2) {
    bottom: 90px;
    background: url(../img/icon_sns_v.png) no-repeat center center
}

header nav div .sub_menu a:nth-of-type(3) {
    bottom: 20px;
    background: url(../img/icon_sns_v.png) no-repeat center bottom 7px;
}

header .burger_menu {
    position: fixed;
    top: 5%;
    right: 0;
    width: 120px;
    z-index: 10;
    transition: .5s;
}

header .burger_menu.up {
    top: -139px;
}

header .burger_menu div {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

header .burger_menu span {
    width: 100%;
    height: 2px;
    background: #666;
    position: absolute;
    left: 0;
    top: 0;
}

header .burger_menu span:nth-of-type(1) {
    top: 5px;
}

header .burger_menu span:nth-of-type(2) {
    top: 15px;
    width: 80%;
}

header .burger_menu span:nth-of-type(3) {
    top: 25px;
}

.content_tit {
    width: 100%;
    height: 500px;
    padding: 210px 0 0 210px;
    background: #f5f5f5 url(../img/lookbook_back.png) no-repeat center right 7%;
    background-size: contain;
    margin-bottom: 120px;
}

.content_tit h2 {
    font-size: 5.556em;
    font-family: 'DM Serif Display', serif;
    color: #0f4c82;
    padding-bottom: 50px;
}

.content_box {}

.content_box ul {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content_box > ul > li {
    margin-bottom: 60px;
}

.content_box ul li figure {
    position: relative;
    font-size: 0;
    cursor: pointer;
}

.content_box ul li figure img {}

.content_box ul li figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;
}

.content_box ul li figure:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .5s;
}

.content_box ul li figure:after {
    content: '';
    display: block;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    border: 1px solid #fff;
    z-index: 10;
    opacity: 0;
    transition: .5s;
}

.content_box ul li figure:hover:before,
.content_box ul li figure:hover:after,
.content_box ul li figure:hover figcaption {
    opacity: 1;
}

.content_box ul li figure figcaption strong {
    color: #fff;
    font-family: 'DM Serif Display', serif;
    font-size: 2.778em;
    font-weight: normal;
}

.content_box ul li figure figcaption small {
    color: #fff;
    font-family: 'DM Serif Display', serif;
    font-size: 1.667em;
}

.content_box .gallery {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
}

.content_box .gallery ul {}

.content_box .gallery ul li {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
    transition: .5s;
    font-size: 0;
}

.content_box .gallery ul li.on {
    display: block;
    z-index: 10;
}

.content_box .gallery ul li img {
    max-height: 800px;
    max-width: 800px;
}

.content_box .gallery strong {
    color: #fff;
    font-size: 1em;
}

.content_box .gallery > span {
    position: absolute;
}

.content_box .gallery span:nth-of-type(1) {
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 0.833em;
}

.content_box .gallery span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    left: 400px;
    cursor: pointer;
}

.content_box .gallery span:nth-of-type(3) {
    top: 50%;
    transform: translateY(-50%);
    right: 400px;
    cursor: pointer;
}

.content_box .gallery span a {
    color: #fff;
    font-size: 1em;
}

.content_box .gallery span a:hover {
    text-decoration: underline;
}

aside {
    position: fixed;
    background: #0f4c82;
    bottom: 0;
    right: 0;
    width: 90px;
    height: 90px;
    cursor: pointer;
    z-index: 50;
}

aside div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside div span {
    font-size: 1.2em;
    color: #fff;
    font-family: 'DM Serif Display', serif;
}

footer {
    width: 70%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h2 {}

footer h2 img {}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul li {
    padding: 0 70px;
    border-right: 1px solid #ccc;
    color: #999;
    font-size: 0.667em;
}

footer ul li:nth-of-type(3) {
    border-right: 0px;
}

footer ul li small {
    display: block;
    color: #999;
    font-size: inherit;
    text-transform: uppercase;
    padding-bottom: 5px;
}

footer ul li:nth-of-type(2) small {
    padding: 10px;
}

footer ul li em {
    color: #999;
    font-size: 1.667em;
    font-style: normal;
}

footer ul li div {}

footer ul li a {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

footer ul li a:nth-of-type(1) {
    background: url(../img/icon_sns_h.png) no-repeat left 5px center;
}

footer ul li a:nth-of-type(2) {
    background: url(../img/icon_sns_h.png) no-repeat center center;
}

footer ul li a:nth-of-type(3) {
    background: url(../img/icon_sns_h.png) no-repeat right 5px center;
}
